.img-header {
    height: 100px;
    border-radius: 20px;
    box-shadow: #EEEEEE 0px 0px 5px;
}

.navbar{
    background-color: #393E46;
}

body {
    background-color: #222831;
}  

.container {
color: #EEEEEE;
}

.h1, h2 ,h3 ,h4 ,h5 ,h6 {
color: #00ADB5;
}

footer {
    background-color: #393E46;
    color: #EEEEEE;
}

.footer-page-4, .footer-page-3{
    height: 100px;
}


.footercontainer{
    background-color: #f0eeee;
}


.page-title {
    text-align: center;
}

.img-thumbnail {
    box-shadow: rgb(255, 254, 254) 0 0 5px;
    border-radius: 20px;
    border-color: aqua;
}

.abs-center {
    display:flex;
    align-items: center;
    justify-content: center;
}

.ctn-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
}

.ctn-video iframe, .ctn-video object, .ctn-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
